

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

//Variables Colores
$Base: #ddd;
$Primary-color: #ffcad4;
$secondary-color: #70d1f8;
$terciary-color: #f7af9d;
$aditional-color: #c08497;
$light-color: #f8f8f8;
$dark-color: #252525;
$border: .3rem solid $dark-color;
$box-shadow4px: 4px 4px #CCC;
$Montserrat: 'Montserrat', sans-serif;
$Roboto:'Roboto', sans-serif;;

@mixin flex-basic{
align-items: center;
text-align: center;
}

*{
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .2s all ease-out;
}
html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
body {
    background-color: $Base;
    font-family: $Roboto;
    min-height: 100vh;
    color: #0c0704;
}


a { 
color: $dark-color; 
}
a:active {color: $terciary-color;}

svg {
    width: 1.5rem;
    height: 1.5rem;
    
}
h2, h3 { font-family:  $Montserrat;
}
h2{
    font-size: 40px;
}



.header {
    background-color: $light-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    border-bottom: 2px solid $secondary-color;
    width: 100%;
}

.header {
    .logo{
        img{
            height: 7rem;
            margin-bottom: .5rem;
        }
    }
}

    .navbar{
        display: none;
        gap: 1rem;
        a{
             font-size: 1.2rem;
                &:hover{
                    color: $secondary-color;
                    border-bottom: 1px solid $secondary-color;

                }
        }
    }

.header{
    .icons{
        display: flex;
        gap: 4rem;
        margin-bottom: .5rem;
        svg{
            fill: $secondary-color;
            cursor: pointer;
            &:hover{
                fill: $Primary-color;
            }
        }
    }
}

#menu-btn{
    display: block;
}
.header{
    .search-form{
        background-color: #fff;
        width: 30rem;
        height: 4rem;
        position: absolute;
        top: 18%; right: 7%;
        display: flex;
        align-items: center;
        transform: scaleY(0);
        transform-origin: top;

            input{
            height: 100%;
            width: 100%;
            font-size: 1.2rem;
            color: $dark-color;
            padding: 1rem;
            text-transform: none;
            border: 1px solid $secondary-color;
            border-radius: 16px;
        }
                label{
                cursor: pointer;
                font-size: 2rem;
                margin-right: 1rem;
                color: $dark-color;
               
            }
    }

}

.container{
    margin: 2rem 1rem;
}
.about{
    display: flex;
    justify-content: center;
    &__container{
        background-color: $light-color;
        display: flex;
        width: 100%;
        flex-direction: column;
        border-radius: 16px;
        padding: .5rem;
        img{
            margin: .5rem 0 1rem 0;
            border-radius: 16px;
        }
       
    }
}
.about__text{
    text-align: center;
    h2{
        color: $secondary-color;
    }
    p{
        padding: 0 1rem;
    }
}