

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

//Variables Colores
$Base: #f9f9f9;
$Primary-color: #E5386D;
$secondary-color: #70d1f8;
$terciary-color: #ce7964;
$light-color: #fff;
$dark-color: #252525;
$border: .3rem solid $dark-color;
$box-shadow: 0 2px 10px 2px #dadada;
$Montserrat: 'Montserrat', sans-serif;
$Roboto:'Roboto', sans-serif;
$border-radius-px: 16px;
$gap: 1rem;

@mixin container-style{
    background-color: $light-color;
    box-shadow: $box-shadow;
}
@mixin flex-basic{
align-items: center;
text-align: center;
}

*{
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: .1s all ease-out;
}
html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
body {
    background-color: $Base;
    font-family: $Roboto;
    min-height: 100vh;
    color: #0c0704;
}


a { 
color: $dark-color; 
}


svg {
    width: 1.5rem;
    height: 1.5rem;
    
}
h2, h3 { font-family:  $Montserrat;
}
h2{
    font-size: 40px;
}

.header {
    background-color: $light-color;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid $secondary-color;
    width: 100%;
}

.header {
    .logo{
        img{
            height: 7rem;
            margin-bottom: .5rem;
        }
    }
}

    .navbar{
        display: none;
        gap: $gap;
        a{
             font-size: 1.2rem;
                &:hover{
                    color: $secondary-color;
                    border-bottom: 1px solid $secondary-color;

                }
        }
    }

.header{
    .icons{
        display: flex;
        gap: 4rem;
        margin-bottom: .5rem;
        svg{
            fill: $secondary-color;
            cursor: pointer;
            &:hover{
                fill: $Primary-color;
            }
        }
    }
}

#menu-btn{
    display: block;
}
.header{
    .search-form{
        background-color: #fff;
        width: 30rem;
        height: 4rem;
        position: absolute;
        top: 18%; right: 7%;
        display: flex;
        align-items: center;
        transform: scaleY(0);
        transform-origin: top;

            input{
            height: 100%;
            width: 100%;
            font-size: 1.2rem;
            color: $dark-color;
            padding: 1rem;
            text-transform: none;
            border: 1px solid $secondary-color;
            border-radius: $border-radius-px
            ;
        }
                label{
                cursor: pointer;
                font-size: 2rem;
                margin-right: 1rem;
                color: $dark-color;
               
            }
    }

}

.container{
    margin: 2rem ;
}
.about{
    display: flex;
    justify-content: center;
    &__container{
        @include container-style();
        display: flex;
        width: 100%;
        flex-direction: column;
        border-radius: $border-radius-px;
        padding: .5rem;
        img{
            margin: .5rem 0 1rem 0;
            border-radius: $border-radius-px;
        }
       
    }
}
.about__text{
    text-align: center;
    h2{
        color: $secondary-color;
    }
    p{
        padding: 0 1rem;
    }
}
.product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__list{
        @include container-style();
        width: 100%;
        padding: 1rem;
        border-radius: $border-radius-px;
       
    }
    &__item{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
   &__img{
    display: flex;
    justify-content: center;
    img{

        width: 7rem;
        height: 7rem;
        border-radius: 50%;
    }
   }
    &__text{
        text-align: center; 
    }
    &__buttons{
        display: flex;
        flex-direction: column;
        margin-top: 2.5rem;
        gap: $gap;
        width: 100%;
    }
    &__btn{
        padding: .8rem 1.5rem;
        border-radius: $border-radius-px;
    }
    
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $secondary-color;
   width: 100%;
    &__titulo{
       color: $light-color;
    }
}